.create-container {
    box-shadow: 0 0 28px #0000000d;
    background-color: #fff;
    border-radius: 6px;
    margin: auto;
    margin-top: 2%;
    width: 25%;
    height: fit-content;
}

.create-form {
    padding: 3rem;
}

.input {
    max-width: 100%;
    width: 100%;
    background-color: #fff;
    border-color: #dbdbdb;
    border-radius: 4px;
    color: #1F1F1F;
    padding: 5px;
}

.input::placeholder {
    color: lightgrey;
}

/* .input:focus {
    color: red;
    border-color: #0081b8;
    box-shadow: 0, 0, 0, 0.125em rgb(0, 129, 184);
} */

.btn-create {
    width: 100%;
    color: #fff;
    background-color: #1F1F1F;
    font-weight: bold;
    border-radius: 4px;
}

a {
    text-decoration: none;
}

.error {
    margin-top: -20px;
}