<div>
    <form>
        <div>
            <h2>Add Song</h2>
            <p>Join the other Artists</p>
        </div>

        <div>
            <div>
                <input type="text" name="name" placeholder="Song name">
                <label for="name"></label>
            </div>
        </div>

        <div>
            <div>
                <input type="text" name="author" placeholder="Song author">
                <label for="author"></label>
            </div>
        </div>

        <div>
            <div>
                <input type="text" name="genre" placeholder="Song Genre">
                <label for="genre"></label>
            </div>
        </div>

        <div>
            <div>
                <input type="number" name="year" placeholder="2003">
                <label for="year"></label>
            </div>
        </div>

        <div>
            <div>
                <textarea name="description" placeholder="Song Description" cols="30" rows="10"></textarea>
            </div>
        </div>

        <div>
            <div>
                <input type="text" name="songImage" placeholder="https://">
                <label for="songImage"></label>
            </div>
        </div>

        <div>
            <button>Create Song</button>
        </div>
    </form>
</div>