<div>
    <form>
        <div>
            <h2>Add Song</h2>
            <p>Join the other Artists</p>
        </div>

        <div>
            <div>
                <input type="text" name="name">
                <label for="name"></label>
            </div>
        </div>

        <div>
            <div>
                <input type="text" name="name">
                <label for="name"></label>
            </div>
        </div>

        <div>
            <div>
                <input type="text" name="name">
                <label for="name"></label>
            </div>
        </div>

        <div>
            <div>
                <input type="text" name="name">
                <label for="name"></label>
            </div>
        </div>

        <div>
            <div>
                <input type="text" name="name">
                <label for="name"></label>
            </div>
        </div>

        <div>
            <div>
                <input type="text" name="name">
                <label for="name"></label>
            </div>
        </div>
    </form>
</div>