<div class="create-container">
    <form class="create-form">
        <div class="mb-3">
            <h2 class="mb-2">Add Song</h2>
            <p>Join the other Artists</p>
        </div>

        <div class="field mb-4">
            <div class="control input-float">
                <input type="text" class="input mt-4" name="name" placeholder="Song name">
                <label for="name"></label>
            </div>
        </div>

        <div class="field mb-4">
            <div class="control input-float">
                <input type="text" class="input mt-4" name="author" placeholder="Song author">
                <label for="author"></label>
            </div>
        </div>

        <div class="field mb-4">
            <div class="control input-float">
                <input type="text" class="input mt-4" name="genre" placeholder="Song Genre">
                <label for="genre"></label>
            </div>
        </div>

        <div class="field mb-4">
            <div class="control input-float">
                <input type="number" class="input mt-4" name="year" placeholder="2003">
                <label for="year"></label>
            </div>
        </div>

        <div class="field mb-4">
            <div class="control input-float">
                <textarea name="description" class="input mt-4" placeholder="Song Description" cols="30" rows="10"></textarea>
            </div>
        </div>

        <div class="field mb-4">
            <div class="control input-float">
                <input type="text" class="input mt-4" name="songImage" placeholder="https://">
                <label for="songImage"></label>
            </div>
        </div>

        <div>
            <button class="btn-create mt-2 p-2">Create Song</button>
        </div>
    </form>
</div>