.main-section {
    font-family: 'Nunito Sans', sans-serif;
}

.home-background {
    background-color: black;
    text-align: center;
    position: absolute; 
    width: 100%;
}

.container {
    width: 60%;
    margin-top: 250px;
    align-items: inherit;
    color: #fff;
}