<section class="main-section d-flex">
    <div class="home-background">
        <picture>
            <img src="/assets/homepagePicture.jpg" alt="Homepage Picture" width="1580px">
        </picture>
    </div>
    <div class="container d-flex flex-column position-relative">
        <div class="text-white px-3">
            <h1>Royalty Free Music for Videos</h1>
        </div>
        <div class="text-white px-3">
            <p>The best Music, by the best Artists</p>
        </div>
        <div class="text-white px-3">
            <a href="/catalog" class="btn-catalog btn btn-dark btn-lg mt-3">
                <i class="fa fa fa-search fa-1x"></i> 
                <span class="m-5">Browse Music</span>
            </a>
        </div>
    </div>