<section class="main-section d-flex">
    <div class="home-background">
        <picture>
            <img src="/assets/homepagePicture.jpg" alt="Homepage Picture" width="1580px">
        </picture>
    </div>
    <div class="container d-flex flex-column position-relative">
        <div>
            <h1>Free Music for Videos</h1>
        </div>
        <div>
            <p>The best Music, by the best Artists</p>
        </div>
        <div>
            <button>Browse Music</button>
        </div>
    </div>
</section>