<ng-container *ngIf="!editMode">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="project-info-box mt-0">
                    <h5>SONG DETAILS</h5>
                    <p class="mb-0 overflow-auto">{{song?.description}}</p>
                </div><!-- / song-info-box -->

                <div class="project-info-box">
                    <p><b>Song name:</b> {{song?.name}}</p>
                    <p><b>Date:</b> {{song?.year}}</p>
                    <p><b>Author:</b> {{song?.author}}</p>
                    <p><b>Genre:</b> {{song?.genre}}</p>
                    <p class="mb-0"><b>Price:</b> ${{song?.price}}</p>
                </div><!-- / song-info-box -->

                <div class="project-info-box mt-0 mb-0">
                    <ng-container *ngIf="!isOwner">
                        <button class="btn btn-outline-dark me-2">Buy Now</button>
                        <button class="btn btn-outline-dark me-2">Wish</button>
                    </ng-container>
                    <ng-container *ngIf="isOwner">
                        <button (click)="editMode = true" class="btn btn-outline-dark me-2">Edit</button>
                        <button (click)="delete()" class="btn btn-outline-dark me-2">Delete</button>
                    </ng-container>
                </div><!-- / song-info-box -->
            </div><!-- / column -->

            <div class="col-md-7">
                <img src="{{song?.songImage}}" class="rounded">
                <div class="mt-4">
                    <p><b>Genre:</b> {{song?.genre}}</p>
                </div><!-- / song-info-box -->
            </div><!-- / column -->
        </div>
    </div>
</ng-container>

<ng-container *ngIf="editMode">
    <div class="edit-container">
        <form #form="ngForm" class="edit-form" (ngSubmit)="onEdit(form)">
            <div class="mb-3">
                <h2 class="mb-2">Edit Song</h2>
            </div>

            <div class="field mb-4">
                <div class="control input-float">
                    <input type="text" class="input mt-4" name="name" ngModel="{{song?.name}}" #name="ngModel">
                    <label for="name"></label>
                </div>
            </div>

            <div class="field mb-4">
                <div class="control input-float">
                    <input type="text" class="input mt-2" name="author" ngModel="{{song?.author}}" #author="ngModel">
                    <label for="author"></label>
                </div>
            </div>

            <div class="field mb-4">
                <div class="control input-float">
                    <input type="text" class="input mt-2" name="genre" ngModel="{{song?.genre}}" #genre="ngModel">
                    <label for="genre"></label>
                </div>
            </div>

            <div class="field mb-4">
                <div class="control input-float">
                    <input type="number" class="input mt-2" name="year" ngModel="{{song?.year}}" #year="ngModel">
                    <label for="year"></label>
                </div>
            </div>

            <div class="field mb-4">
                <div class="control input-float">
                    <input type="number" class="input mt-2" name="price" ngModel="{{song?.price}}" #price="ngModel">
                    <label for="price"></label>
                </div>
            </div>

            <div class="field mb-4">
                <div class="control input-float">
                    <textarea name="description" class="input mt-2" name="description" ngModel="{{song?.description}}"
                        cols="30" rows="5" #description="ngModel"></textarea>
                </div>
            </div>

            <div class="field mb-4">
                <div class="control input-float">
                    <input type="text" class="input mt-2" name="songImage" ngModel="{{song?.songImage}}"
                        #songImage="ngModel">
                    <label for="songImage"></label>
                </div>
            </div>

            <div>
                <button class="btn-edit mt-2 p-2">Edit Song</button>
            </div>
        </form>
    </div>
</ng-container>