<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="project-info-box mt-0">
                <h5>SONG DETAILS</h5>
                <p class="mb-0">{{song?.description}}</p>
            </div><!-- / song-info-box -->

            <div class="project-info-box">
                <p><b>Song name:</b> {{song?.name}}</p>
                <p><b>Date:</b> {{song?.year}}</p>
                <p><b>Author:</b> {{song?.author}}</p>
                <p><b>Genre:</b> {{song?.genre}}</p>
                <p class="mb-0"><b>Price:</b> ${{song?.price}}</p>
            </div><!-- / song-info-box -->

            <div class="project-info-box mt-0 mb-0">
                <button class="btn btn-outline-dark me-2">Buy Now</button>
                <button class="btn btn-outline-dark me-2">Wish</button>
                <button class="btn btn-outline-dark me-2">Edit</button>
                <button (click)="delete()" class="btn btn-outline-dark me-2">Delete</button>
            </div><!-- / song-info-box -->
        </div><!-- / column -->

        <div class="col-md-7">
            <img src="{{song?.songImage}}" class="rounded">
            <div class="mt-4">
                <p><b>Genre:</b> {{song?.genre}}</p>
            </div><!-- / song-info-box -->
        </div><!-- / column -->
    </div>
</div>