nav {
    width: fit-content;
    margin: auto;
    display: block;
    border: 5px solid #7f91f1;
    background-color: #d1a1fd;
    font-family: 'Fira Sans', sans-serif;
}
ul {
    list-style-type: none;
    display: flex;
    text-align: center;
}
ul li a {
    text-decoration: none;
    cursor: pointer;
}

a:visited {
    color: black;
}