<div class="login-container">
    <form [formGroup]="form" class="login-form" (ngSubmit)="login()">
        <div class="mb-3 text">
            <h2 class="mb-2">Sign In</h2>
            <p>Don't have an account? <a href="/register" class="ml-1">Sing Up</a></p>
        </div>

        <div class="field mb-4">
            <div class="control input-float">
                <input type="text" class="input mt-4" name="email" formControlName="email" placeholder="Email" required pattern="^[a-zA-Z0-9\.-]{4,}@[a-z]+\.[a-z]+$">
                <label for="email"></label>
            </div>
        </div>

        <ng-container *ngIf="form.get('email')?.touched">
            <div class="form-label text-danger error" *ngIf="form.get('email')?.errors?.['required']">Email is
                required!</div>
            <div class="form-label text-danger error" *ngIf="form.get('email')?.errors?.['invalidEmail']">Email
                should be valid!</div>
        </ng-container>

        <div class="field mb-4">
            <div class="control input-float">
                <input type="password" class="input" name="password" formControlName="password" placeholder="Password" required minlength="3" maxlength="12">
                <label for="password"></label>
            </div>
        </div>

        <ng-container *ngIf="form.get('password')?.touched">
            <div class="form-label text-danger error" *ngIf="form.get('password')?.errors?.['required']">Password is
                required!</div>
            <div class="form-label text-danger error" *ngIf="form.get('password')?.errors?.['minlength']">Password
                should have more than 3
                characters!</div>
            <div class="form-label text-danger error" *ngIf="form.get('password')?.errors?.['maxlength']">Password
                should have less 12
                characters!</div>
        </ng-container>

        <ng-container *ngIf="errors">
            <p class="form-label text-danger error">{{errors}}</p>
        </ng-container>

        <div>
            <button class="btn-login mt-2 p-2">Sign In</button>
        </div>
    </form> 
</div>