/* profile css */

.gradient-custom-2 {
    /* fallback for old browsers */
    background: #ffffff;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(255, 255, 255), rgb(125, 130, 135));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(255, 255, 255), rgba(125, 130, 135, 1));
}

.personalInfo {
    height: 155px;
    overflow-y: scroll;
}

.personalInfo::-webkit-scrollbar {
    display: none;
}

/* edit css */

.edit-container {
    box-shadow: 0 0 28px #0000000d;
    background-color: #fff;
    border-radius: 6px;
    margin: auto;
    margin-top: 4%;
    width: 25%;
}

.edit-form {
    padding: 3rem;
}

.input {
    max-width: 100%;
    width: 100%;
    background-color: #fff;
    border-color: #dbdbdb;
    border-radius: 4px;
    color: #1F1F1F;
    padding: 5px;
}

.input::placeholder {
    color: lightgrey;
}

.btn-edit {
    width: 100%;
    color: #fff;
    background-color: #1F1F1F;
    font-weight: bold;
    border-radius: 4px;
}

a {
    text-decoration: none;
}

.error {
    margin-top: -20px;
}

.error-fix {
    margin-bottom: -15px;
}